################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UniversaLIS/upgrade-assistant.clef
/UniversaLIS/UniLisApi.cs
/UniversaLIS/swagger.json
/UniversaLIS/ReliableSerialPort.cs
/UniversaLIS/ProjectInstaller.resx
/UniversaLIS/ProjectInstaller.Designer.cs
/UniversaLIS/ProjectInstaller.cs
/upgrade-assistant.clef
/UniLisApi.cs
/ReliableSerialPort.cs
/ProjectInstaller.resx
/ProjectInstaller.Designer.cs
/ProjectInstaller.cs
/.gitignore
/REST-LIS/bin/Debug/net6.0-windows
/REST-LIS/obj
