<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IMMULIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <IMMULIS.Properties.Settings>
            <setting name="SerialPortNum" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="SerialPortBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SerialPortParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialPortDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialPortStopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LIS_ID" serializeAs="String">
                <value>LIS</value>
            </setting>
            <setting name="LIS_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=127.0.0.1\SQLExpress;Initial Catalog=LISDB;Integrated Security=True</value>
            </setting>
            <setting name="SenderAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiverID" serializeAs="String">
                <value>IMMULITE</value>
            </setting>
            <setting name="AutoSendOrders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSendInterval" serializeAs="String">
                <value>15000</value>
            </setting>
        </IMMULIS.Properties.Settings>
    </applicationSettings>
</configuration>